@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.product
  width: calc((100% - 23px) / 2)
  border: 1px solid $base
  box-sizing: border-box
  padding: 25px
  margin-bottom: 23px
  background: $base-lightest
  display: flex

  &:nth-child(2n+1)
    margin-right: 23px

  &__check
    margin: auto 25px auto 0

  &__info
    display: flex
    flex-direction: column
    height: 100%

    &-pricetag
      display: flex
      flex-wrap: wrap
      align-items: center
      margin-bottom: 6px

      &-price
        margin-right: 16px
        +font(15px, 20px, bold)
        color: $accent-dark

      &-name
        position: relative
        display: flex
        align-items: center
        padding: 5px 16px
        box-shadow: 0 0 2px rgba(94, 119, 157, 0.25)
        border-radius: 32px

        &-img
          height: 14px
          width: 14px
          margin-right: 8px

        &:hover:after
          content: attr(data-title)
          position: absolute
          left: calc(50% - 17px)
          top: 42px
          z-index: 1
          background: rgba( 0, 0, 0, 0.6)
          color: $base-lightest
          +font(13px, 18px)
          box-sizing: border-box
          padding: 12px 18px
          width: max-content
          max-width: 250px

        &:hover:before
          content: ''
          width: 17px
          height: 7px
          position: absolute
          top: 35px
          left: 50%
          z-index: 1
          background: rgba( 0, 0, 0, 0.6)
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%)

    &-developer
      min-height: 42px
      +font(14px, 18px)

      span
        color: $base-dark

    &-block
      display: flex
      margin: 14px 0

      &-column
        display: flex
        flex-direction: column
        box-sizing: border-box
        padding-right: 20px

        &:first-child
          border-right: 1px solid $base-darker
          margin-right: 20px

        span
          +font(14px, 25px)

    &-address
      margin-top: auto
      position: relative

      &:before
        content: ''
        position: absolute
        left: -17px
        top: 1px
        width: 10px
        height: 13px
        background: url(../assets/img/svg/mark.svg) no-repeat center

  &__plan
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-end
    margin-left: auto
    min-width: 140px

    &-status
      margin-right: -25px
      box-sizing: border-box
      position: relative
      padding: 6px 9px 6px 23px
      +font(14px, 18px)

      &:before
        content: ''
        position: absolute
        width: 6px
        height: 6px
        border-radius: 50%
        margin-right: 8px
        left: 9px
        top: calc(50% - 3px)

      &_entity
        background: $accent-dim
        color: $accent

        &:before
          background: $accent

      &_individual
        background: $accent-second-dim
        color: $accent-second

        &:before
          background: $accent-second

      &_booked
        background: #EDEDED
        color: $main-gray

        &:before
          background: $main-gray

      &_sold
        background: $base-dark
        color: $main-gray-light

        &:before
          background: $main-gray-light

    &-img
      width: 127px
      margin: 27px 0 12px

      img
        width: 100%
        object-fit: contain

    &-date
      +font(13px, 20px)
      color: $base-dark
      text-align: right

